@charset "UTF-8";
/* =============================================================================
   HEADER CUSTOMIZATIONS
   ========================================================================== */
.coblog-topbar {
  font-size: 14px;
}
.coblog-header-five {
  padding-top: 8px;
  padding-bottom: 8px;
}
.coblog-body-header-five .coblog-post-single-wrap {
  margin-top: 10px;
}
.coblog-header-search {
  height: 150px;
  background: #78ac3e;
}
.search {
  width: auto;
}
.search .search-form {
  border: none;
  padding: 0;
  background-color: transparent;
}
.search .search-field {
  position: relative;
  display: block;
  float: left;
  border: solid #fff;
  border-width: 0 0 2px;
  border-radius: 0;
  font-size: 1.25em;
  background: none;
  height: auto;
  width: 75%;
  min-width: 200px;
  padding: 0px 7px 4px;
}
.hs_active .search-button {
  position: relative;
  display: inline-block;
  background-color: #adc996;
  border-radius: 4px;
  width: 80px;
  background-position: center;
  background-size: 25px;
  margin-left: 10px;
}
/* =============================================================================
   MENU IN HEADER CUSTOMIZATIONS
   ========================================================================== */
ul.coblog-topbar-menu > li > a {
  font-size: 1em;
  letter-spacing: 0;
  font-weight: 600;
  color: #fff;
}
ul.primary-menu > li > a {
  font-size: 0.9em;
  letter-spacing: 0;
}
ul.primary-menu > li > a{
  font-weight: 600;
}
ul.sub-menu li a {
  color: #000;
}
ul.sub-menu li a {
  font-size: 15px;
  padding: 10px 0;
}
.btn-header button:hover {
  color: white;
  width: auto;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgb(255, 0, 0);
}
.coblog-header-five .main-navigation {
  margin-left: auto;
  margin-right: 15px;
}
ul.sub-menu li a {
  color: #000;
}
ul.sub-menu li a {
  font-size: 15px;
  padding: 10px 0;
}
ul.primary-menu ul,
ul.coblog-topbar-menu ul {
  padding: 7px 15px;
}
.coblog-account-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar__link {
  justify-content: center;
  padding: 0 .625rem;
  position: relative;
}
/* Responsive Menu style */
.coblog-responsive-menu-option .coblog-trigger {
  width: 90px;
  text-align: right;
  height: 50px;
  vertical-align: middle;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  line-height: 1em;
}
.coblog-responsive-menu-option .coblog-trigger {
  color: #000;
  font-size: 18px;
}
.coblog-responsive-menu-option .coblog-trigger:after {
  content: "Menu";
  transform: translateY(0);
  font-size: 0.9em;
  margin-right: 0;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}
a.menu-trigger {
  width: 85px;
  height: 100%;
  text-align: center;
  font-size: 0.9em;
  margin-right: 3px;
  background: #f1f1f1;
  padding: 5px 0;
  height: 50px;
}
a.menu-trigger i {
  font-style: normal;
  color: #000;
}
.coblog-responsive-menu-option {
  line-height: 1em;
  padding-bottom: 2px;
}
.coblog-responsive-menu-option .coblog-search:after {
  display: none;
}
.btn-header button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}
/* Notify style */
.reg {
  color: white;
  background-color: #ffba00;
}
.reg a {
  color: #fff;
}
.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}
button.log:hover a {
  color: rgb(255, 255, 255);
}

/* =============================================================================
   BODY POST CUSTOMIZATIONS
   ========================================================================== */
.coblog-entry-header {
  max-width: 100%;
}
.coblog-entry-header {
  text-align: left;
  margin-bottom: 0px;
}
#intro {
  background-color: #fff;
  margin: 0;
  padding: 7px 14px 3px;
}
#intro.hasad {
  padding-bottom: 0;
  border-bottom: 0;
}
.pre-content {
  background-color: #fff;
  border-bottom: none;
  margin: 0;
}
a.pdf_link,
a.offline_link {
  color: #545454;
  border-radius: 4px;
}
.pdf_link > img,
.offline_link > img {
  width: 15px;
  margin-right: 5px;
}
#coauthor_byline {
  margin-bottom: 0.75rem;
}
.article_byline {
  color: #222;
  font-size: 12px;
  overflow: auto;
}
#byline_info {
  line-height: 1rem;
}
.newline {
  display: block;
}
#coauthor_byline p:last-child {
  padding-top: 0.1em;
}
#intro .article_byline p {
  line-height: 1rem;
  margin: 0;
}
#coauthor_byline p,
#coauthor_byline p a {
  color: #595959;
}
a.byline_info_link:hover {
  text-decoration: underline;
}
a.byline_references:hover {
  text-decoration: underline;
}
.last_updated_highlighted {
  font-weight: bold;
}
/* =============================================================================
   BREADCRUMB POST CUSTOMIZATIONS
   ========================================================================== */
.pre-content .rank-math-breadcrumb p {
  margin: 2px;
}
nav.rank-math-breadcrumb {
  padding: 0em 0 0.8em 14px;
}
#breadcrumb li:nth-last-child(2),
#breadcrumb li:last-child {
  display: inline-block;
  font-weight: bold;
}
#breadcrumb li {
  display: none;
  line-height: 1em;
  padding-right: 0.5em;
}
.breadcrumbs li {
  display: inline-block;
  padding-right: 0.3em;
}
.page-breadcrumb nav.rank-math-breadcrumb p {
  text-align: center;
}
.page-breadcrumb nav.rank-math-breadcrumb a {
  color: #fff !important;
}
.rank-math-breadcrumb a {
  text-transform: uppercase;
  font-size: 20px;
  list-style: none;
  font-weight: 600;
  color: #3fb549 !important;
  border-bottom: none !important;
}
#breadcrumb li:nth-last-child(2),
#breadcrumb li:last-child {
  display: inline-block;
  font-weight: bold;
}
#breadcrumb li {
  display: none;
  line-height: 1em;
  padding-right: 0.5em;
}
.breadcrumbs li {
  display: inline-block;
  padding-right: 0.3em;
}
/* =============================================================================
   POST CONTENT CUSTOMIZATIONS
   ========================================================================== */
.category_banner_wrap {
  position: relative;
  height: 350px;
  overflow: hidden;
  margin-bottom: -5px;
  background-position: center;
  background-size: cover;
}
.w-blog-list {
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-out;
}
.coblog-layout-full .coblog-post-single .entry-content {
  max-width: 80%;
  margin: auto;
}
.coblog-entry-header-single {
  margin-bottom: 30px;
  text-align: left;
}
.coblog-entry-title {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  clear: both;
  word-wrap: break-word;
  letter-spacing: 0.1px;
  margin: 0px 0px 0px 0px;
  padding: 0em 0px 0.1em 14px;
  margin-bottom: 0px !important;
}
.coblog-entry-meta {
  position: relative;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.coblog-entry-meta:before {
  border: none;
}
.coblog-entry-meta {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.godii-auth-dtl {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 30px;
  margin-bottom: -30px;
}
span.coblog-meta-img {
  display: block;
  max-width: 65px;
  flex: 0 0 65px;
  height: 65px;
  position: relative;
}
.coblog-meta-img img {
  width: 100%;
  height: 100%;
}
.godii-auth-rdtl {
  padding-left: 22px;
  position: relative;
}
span.coblog-meta-author {
  font-size: 24px !important;
  line-height: 1.25 !important;
  letter-spacing: -0.5px !important;
  margin: 0;
}
.coblog-entry-meta span a {
  color: #000;
  transition: 0.4s;
}
.coblog-meta-author a {
  margin-left: 0px;
}
.coblog-entry-meta .coblog-meta-author:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 1px;
  background: none;
  right: -2px;
  top: 55%;
}
.coblog-layout-wrap {
  grid-column-gap: 40px;
}
#secondary .coblog-widget {
    background: #fff;
    padding: 0px 5px;
    margin-bottom: 10px;
}
/* =============================================================================
   ARCHIVE CUSTOMIZATIONS
   ========================================================================== */
.archive.coblog-body-header-five .coblog-page-title {
  margin-top: 0px;
}
.coblog-page-title {
  margin-bottom: 25px;
  border-bottom: none;
  padding-bottom: 0px;
  text-align: left;
  margin-top: 0;
  font-weight: 700;
  font-size: 35px;
}
.godii-art-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.godii-art-opt ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-categories {
  list-style: none;
  padding: 0;
  display: flex;
}
.post-categories li {
  margin: 0;
  display: flex;
  align-items: center;
}
.post-categories li:after {
  content: "\30FB";
  font-size: 22px;
  line-height: 1px;
  height: 10px;
  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  color: #5ec92a;
}
.post-categories li:last-child::after {
  display: none;
}
.list-style-no,
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.post-categories {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0em 0 0.8em 14px;
}
.coblog-post-thumbnail img {
  margin-bottom: 0px;
}
.godii-art-desc {
  margin-bottom: 15px;
  line-height: 1.565;
}
.godii-art-desc,
.godii-art-prsnt:first-of-type {
  margin-top: 10px;
}
.viewpost {
  align-items: center;
  display: flex;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 15px;
  list-style: none;
}
.viewpost .svg-icon {
  width: 14px;
  height: 14px;
  max-width: 14px;
  flex: 0 0 14px;
  margin-right: 10px;
}
.svg-icon svg {
  height: 100%;
  width: 100%;
}
.svg-icon svg {
  display: block;
}
[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
  background: transparent;
  text-align: center;
}
body,
button,
input,
select,
optgroup,
textarea {
  font-size: 18px;
}
.coblog-post-single entry-content p a {
  color: inherit;
  border-bottom: 2.5px solid #71c21b;
}
.coblog-post-single ul a {
  color: inherit;
  border-bottom: 2.5px solid #71c21b;
}
.coblog-post-single ol a {
  color: inherit;
  border-bottom: 2.5px solid #71c21b;
}
.coblog-post-single {
  font-size: 19px;
  color: #252525;
  line-height: 1.725;
  font-family: revert;
}
.wp-block-quote {
  border-left: 0.25em solid #5ec92a;
}
/* =============================================================================
  CATEGORY CUSTOMIZATIONS
   ========================================================================== */
.coblog-layout-right-sidebar,
.coblog-layout-left-sidebar {
  grid-column-gap: 30px;
}
.godii-art-inner {
  font-size: 18px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.godii-art-part:last-child {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.godii-sect {
  padding-top: 10px;
}
.sss2_sllo_o2 {
  margin-bottom: 4%;
}
.ss2_sllo_o2 {
  margin-top: 2%;
}
.content .cat_section h2,
#cat_topics h2 {
  padding-top: 0;
  font-size: 1.2em;
  font-weight: bold;
}
.cat_grid,
.cat_grid_single {
  display: flex;
  flex-wrap: wrap;
}
.responsive_thumb.custom_title a > div {
  padding-top: 11px;
}
.responsive_thumb .content-spacer {
  overflow: hidden;
}
.responsive_thumb .content-spacer {
  overflow: hidden;
}
.content-spacer {
  position: relative;
}
.responsive_thumb a > .responsive_thumb_title {
  padding: 0 10px;
  padding-top: 6px;
}
.stable .content .responsive_thumb h3 {
  line-height: 21px;
}
.responsive_thumb a h3 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}
.cat_grid > .responsive_thumb,
.cat_grid_single > .responsive_thumb {
  width: 48%;
  margin-right: 1%;
  margin-bottom: 1%;
}
.responsive_thumb {
  border: 1px solid #dfdfdf;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.cat_grid_featured img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.cat_grid > .responsive_thumb:nth-child(2n),
.cat_grid_single > .responsive_thumb:nth-child(2n) {
  margin-right: 0;
}
.img-loading-alt {
  color: #000;
}
.content-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  min-width: 100%;
  height: 1px;
  min-height: 100%;
  color: #fff;
}
.content-area .responsive_thumb h3 {
  line-height: 25px;
}
#primary-page-center {
  padding: 0;
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #fff;
  transition: all 0.5s ease 0s;
}
.responsive_thumb a > .responsive_thumb_title {
  padding: 0 10px;
  padding-top: 6px;
}
.responsive_thumb.custom_title a > div {
  padding-top: 11px;
}
.site-content {
  margin-bottom: 0px;
}
.hp_thumb .ultp-block-content-wrap {
  border: 1px solid #dfdfdf;
}
.hp_thumb .ultp-block-content {
  min-height: 105px;
}
.pagination {
    padding: 25px 0 20px;
}
.pagination .nav-links {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.pagination .page-numbers {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    color: #606B71;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s;
}
.pagination .page-numbers:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #00935b;
}
.pagination .current::after {
    position: absolute;
    width: 14px;
    margin-top: 25px;
    margin-left: -11px;
    border-bottom: solid 1px #00935b;
    cursor: pointer;
    transition: all 0.5s;
    content: '';
}
.coblog-page-layout-wrap .type-page {
  background-color: #fff;
  padding: 16px;
  margin: 0 0 15px 0;
}
.type-page h1.entry-title {
  margin: 0px 0px;
}
ul#breadcrumb {
    display: none;
}
.section .headline_container:not(.subheadline), .steps .headline_container {
    background-color: #F0F4EB;
    width: 100%;
    box-sizing: border-box;
    display: table;
}
.section-heading h2{
    display: inline-block;
    padding: .8em;
    color: #222;
}
.section_text, .steps_text {
    padding: 15px;
    background-color: #FFF;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
}
#references ol {
    list-style: decimal inside;
    margin: 0;
}
.related-wh {
    display: block;
    margin-bottom: 2%;
    overflow: hidden;
}
.related-wh {
    position: relative;
    margin-bottom: 0;
}
.content-spacer .coblog-post-thumbnail img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.related-wh-title {
    background-color: rgba(50, 50, 50, 0.5);
    padding: 0% 4%;
    width: 100%;
    min-height: 32px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

ol.references-list {
    padding-left: .5em;
}
/* =============================================================================
   FOOTER CUSTOMIZATIONS
   ========================================================================== */
.coblog-copyright-img {
  text-align: center;
}
.coblog-footer-two .coblog-copyrhigt-text {
  border-top: none;
  padding: 10px 10px;
}
#relatedsynex {
    padding: 2%;
    display: table;
}
.topbutton {
  height: 40px;
  width: 40px;
  position: fixed;
  left: 5px;
  bottom: 5px;
  z-index: 99;
  display: none;
  background: rgb(18 174 58 / 90%);
  color: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
}
.topbutton i {
  line-height: 1em;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}