.product-container {
  width: 100%;
}

.product-main {
  width: 100%;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.product-gallery-column {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.product-info-column {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

/* Override WooCommerce default styles for images */
.woocommerce div.product div.images {
  float: none !important;
  width: 100% !important;
  position: relative; /* Added to ensure the navigation buttons are positioned correctly */
}
/* Gallery container */
.woocommerce-product-gallery {
  position: relative;
}

.woocommerce div.product div.images .flex-control-nav {
  display: flex;
  overflow: hidden;
  position: relative;
  list-style: none;
  margin: 10px 0px;
  justify-content: center;
}

.woocommerce div.product div.images .flex-control-nav li {
  flex: 0 0 auto;
  margin-right: 5px;
}

.woocommerce div.product div.images .flex-control-nav li:nth-child(n + 5) {
  display: none;
}

.woocommerce div.product div.images .flex-control-nav:after {
  content: "";
  display: block;
  flex: 0 0 30px; /* Width of the navigation buttons */
}

.woocommerce div.product div.images .flex-control-nav:before {
  content: "";
  display: block;
  flex: 0 0 30px; /* Width of the navigation buttons */
}
/* Single product */
.product_meta .posted_in {
  display: none !important;
}
.product_meta .tagged_as {
  display: none !important;
}
.woocommerce-breadcrumb {
  font-weight: 700;
}
.product-main {
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px 20px;
}
.product-footer .woocommerce-tabs {
  border-radius: 10px;
  margin: 0px 0px 10px;
}
.product-footer .container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.woocommerce div.product .woocommerce-tabs .panel {
  padding: 15px !important;
  background: #fff;
  border-left: 1px solid #cfc8d8;
  border-right: 1px solid #cfc8d8;
  border-bottom: 1px solid #cfc8d8;
}
.woocommerce table.shop_attributes th {
  text-align: left;
}
.woocommerce table.shop_attributes td {
  font-style: normal;
  padding: 0px 10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin: 0 0 0em;
}
.woocommerce table.shop_attributes {
  margin-bottom: 1em;
}
.salesgen-bmsm-heading {
  vertical-align: middle;
  width: 100%;
  border: 2px dashed #03a9f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  margin-top: 15px;
}
.sgboxes {
  display: table-row;
  padding-bottom: 20px;
}
.salesgen-bmsm-heading .sgbox1 {
  width: 50px;
  max-width: 50px;
}
.salesgen-bmsm-heading .sgbox1, .salesgen-bmsm-heading .sgbox2 {
  display: table-cell;
  vertical-align: middle;
}
.salesgen-bmsm-heading .sgbox2, .sgbmsm-price-checkbox-wrp {
  padding-left: 10px;
}
.salesgen-bmsm-heading .sgbox1, .salesgen-bmsm-heading .sgbox2 {
  display: table-cell;
  vertical-align: middle;
}
.salesgen-bmsm-heading .sgbox1 svg {
  width: 50px;
  max-width: 50px;
  height: 50px;
}
.sgbmsm-title {
  color: red;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  font-size: 17px;
}
.salesgen-bmsm-item-text, .sgbmsm-text {
  color: #1c1d24;
  line-height: 18px;
  text-align: left;
}
.salesgen-bmsm-items {
  margin: 0;
  padding: 0;
}
.salesgen-bmsm-items li {
  z-index: 15;
  transition: .15s ease-in-out;
  width: 100%;
  height: 54px;
  padding: 0 16px;
  background: #dbdbdb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0!important;
  list-style: none;
  position: relative;
}
.salesgen-bmsm-item-text {
  font-size: 14px;
}
.salesgen-bmsm-item-label {
  margin-right: 7px;
  font-weight: 700;
  font-size: 14px;
  background: #f85911;
  color: #fff;
  padding: 2px 5px;
}
.salesgen-bmsm-item-title {
  color: red;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
/* Navigation buttons */
.gallery-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}

.woocommerce-product-gallery:hover .gallery-nav {
  opacity: 1;
}

.gallery-nav.left {
  left: 0;
}

.gallery-nav.right {
  right: 0;
}
/* Category Product styles*/
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 14px;
  min-height: 45px;
  padding: 0px 5px;
}
.term-description {
  margin: 0 0 1.41575em;
  padding: 4px 10px 0;
  color: #333;
  background: #fff;
  border-radius: 20px;
  padding: 15px 20px 0;
  display: inline-block;
  position: relative;
}
.term-description:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -16px;
  bottom: -10px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 35px solid #fff;
  transform: rotate(235deg);
}
.woocommerce .star-rating span::before {
  color: #ffba00 !important;
}
.product-inner {
  position: relative;
}
.quick-view-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.quick-view-button i {
  font-size: 16px;
}
.product-inner:hover .quick-view-button {
  display: block;
}
/* Modal box styles */
#quick-view-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper .quick-view-content {
  position: relative;
  border-radius: 16px;
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 990px;
}
#quick-view-modal .quick-view-content {
  position: relative;
  width: 90% !important;
  max-width: 990px !important;
  padding: 30px !important;
}
#quick-view-modal .close-quick-view {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
#quick-view-modal .close-quick-view {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 36px;
  display: block;
  background-color: transparent;
}
#quick-view-details {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -10px;
}
#quick-view-details:after {
  content: "";
  display: table;
  clear: both;
}
.view__item {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  vertical-align: top;
  width: 100%;
}
.pull-right {
  float: right;
}
.product-images {
  min-width: 230px;
  max-width: 100%;
}
.product-images .woocommerce-product-gallery {
  opacity: 1 !important;
}
#quick-view-modal .close-quick-view:hover,
#quick-view-modal .close-quick-view:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Styles for product images and thumbnails in Quick View */
.quick-view-product .product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-view-product .product-images .main-image img {
  max-width: 100%;
  height: auto;
}

.quick-view-product .product-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.quick-view-product .product-thumbnails .thumbnail {
  flex: 1;
  margin: 0 5px; /* Add margin to separate thumbnails */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.quick-view-product .product-thumbnails .thumbnail img {
  width: 100%;
  height: auto;
}

.quick-view-product .product-thumbnails .thumbnail:hover {
  transform: scale(1.1);
}

.quick-view-product .product-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Custom CSS for Horizontal Filter */
.br_filters_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.br_filter {
  flex: 1 1 auto;
  margin: 0 10px 10px 0;
}
/* Archive Product styles*/
.category-page-row.full-width {
  display: flex;
  flex-wrap: wrap;
}
.main-content.full-width {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 15px;
}
.subcategory-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.subcategory-list {
  margin-bottom: 20px;
}
.subcategory-item {
  display: inline-block;
  margin-right: 10px;
}
.subcategory-item {
  border-radius: 15px;
  margin-bottom: 15px;
  background: #fff;
}
.subcategory-item {
  padding: 10px 0px;
}
.subcategory-item:hover {
  box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.16);
}
.subcategory-item a {
  border-radius: 15px;
  padding: 13px;
  font-size: 20px;
  font-weight: 600;
}
.subcategory-item:hover a {
  border: 1px dashed #00935b;
}
.subcategory-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Category shop style*/
.shop-category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shop-category-list {
  margin-bottom: 20px;
}
.shop-category-item {
  display: inline-block;
  margin-right: 10px;
}
.shop-category-item {
  border-radius: 15px;
  margin-bottom: 15px;
  background: #fff;
}
.shop-category-item {
  padding: 10px 0px;
}
.shop-category-item:hover {
  box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.16);
}
.shop-category-item a {
  border-radius: 15px;
  padding: 13px;
  font-size: 20px;
  font-weight: 600;
}
.shop-category-item:hover a {
  border: 1px dashed #00935b;
}
.shop-category-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  box-sizing: border-box;
  margin: 0px 0px 10px 0px;
  float: left;
  min-height: 1px;
  margin-left: 10px;
  vertical-align: top;
  width: 100%;
}
li.product {
  margin-bottom: 15px;
  border-radius: 10px;
  background: #fff;
}
li.type-product {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product {
  padding: 0px;
}
.woocommerce ul.products li.product a {
  padding: 0px;
  border-radius: 10px;
}
.woocommerce ul.products li.product:hover,
.woocommerce-page ul.products li.product:hover {
  box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.16);
  border: 1px dashed #00935b;
}
.woocommerce ul.products li.product a img {
  border-radius: 10px 10px 0px 0px;
}
.shop-category-item {
  padding: 5px 0px;
  margin-bottom: 10px;
}
.shop-category-item a {
  padding: 8px;
  font-size: 16px;
}
.shop-category-list {
  flex-wrap: wrap;
}
.page-description h1 {
  font-size: 25px;
}
.filter-section {
  margin-bottom: 20px;
}
.filter-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  justify-content: flex-end;
  margin-bottom: -50px;
}
.filter-toggle .fas {
  margin-right: 10px;
  font-size: 18px;
}
.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin: 2px;
}
.filter-toggle:hover {
  color: #00935b;
}
.products .product-inner .star-rating {
  display: none;
}
/* Style individual filter elements */
.yith-wcan-filter {
  flex: 1 1 20%; /* Adjust this value to fit the layout */
  min-width: 150px;
  border-radius: 16px;
}
.filters-container {
  border-radius: 16px;
}
/* Filter labels */
.yith-wcan-filter label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.yith-wcan-filters
  .yith-wcan-filter
  .filter-items
  .filter-item.label
  .term-image {
  display: none;
  font-size: 0;
  max-width: 100%;
}
.yith-wcan-filters .yith-wcan-filter .filter-items .filter-item {
  line-height: 1.5;
  margin: 0;
}
.yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.label {
  padding: 5px;
}
.yith-wcan-filters
  .yith-wcan-filter
  .filter-items
  .filter-item.filter-has-4-column {
  width: auto;
}
/* Modal Box Styling */
#section-modal {
  display: none;
}
.filter-modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 16px;
  position: relative;
}

.filter-close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.filter-close:hover,
.filter-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.reset-filters {
  cursor: pointer;
}
/* Responsive styles */
@media only screen and (min-width: 769px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 24%;
  }
  .large--one-half {
    width: 50%;
  }
  .filter-content-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .yith-wcan-filter {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .woocommerce div.product div.images .flex-control-nav {
    justify-content: flex-start;
  }

  .woocommerce div.product div.images .flex-control-nav li {
    margin-right: 5px;
  }
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product {
    margin: 0 0 2em .4em !important;
  }
  .gallery-nav {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  .container {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .main-content.full-width {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 4px;
  }
  .product-gallery-column {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .product-info-column {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .term-description {
    font-size: 16px;
  }
  .subcategory-item {
    padding: 5px 0px;
    margin-bottom: 10px;
  }
  .subcategory-item a {
    padding: 8px;
    font-size: 16px;
  }
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product {
    width: 46%;
    float: left;
    clear: both;
    margin: 0px 0px 20px 10px;
  }
  .filter-modal-content {
    max-height: 500px;
    overflow: auto;
  }
}
